<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">ahmad's project</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="wtshtml.html">WHAT IS HTML</a></li>
                <li><a href="wtscss.html">WHAT IS CSS</a></li>

            </ul>
        </div>

    </div> 
   <section>
    <div class="contant">
<div class="wtshtml-con">
    <ul><li><a href="wtshtml.html"><img src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.webp" alt="" class="wts"></a></li></ul>
</div>
<div class="wtscss">
    <ul><li><a href="wtscss.html"><img src="img/how-to-link-a-stylesheet-css-file-to-your-html-file.jpg" alt="" class="wts"></a></li></ul>

</div>
    </div>
   </section>




<footer>
    <div class="foot-con">
        <h3>social</h3>
        <p>
        </p>
        <ul class="social">
            <li><a href="#"><img src="https://www.hostinger.com/tutorials/wp-content/themes/tutorialsthemeuplift/public/images/social-icons/footer/facebook.svg" alt="" class="fp"></a></li>
            <li><a href="#"><img src="https://www.hostinger.com/tutorials/wp-content/themes/tutorialsthemeuplift/public/images/social-icons/footer/instagram.svg" alt="" class="ins"></a></li>
            <li><a href="#"><img src="https://www.hostinger.com/tutorials/wp-content/themes/tutorialsthemeuplift/public/images/social-icons/footer/twitter.svg" alt="" class="mail"></a></li>
            <li><a href="#"><img src="" alt=""></a></li>
        </ul>
        <ul class="abut"><a href="#"></a><i class="blog"></i></ul>

</div>
<div class="foot-bottom">
    <p>copyright &copy;2022 codeOpacity. </p>
</div>
</footer>
</body>
</html>